body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}

li {
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
}

/* Círculo amarillo exterior */
.logo-background {
    width: 500px;
    height: 500px;
    background-color: #FFC627;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Círculo rojo */
.logo-red {
    width: 450px;
    height: 450px;
    background-color: #8B2332;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Círculo azul interior */
.background {
    width: 400px;
    height: 400px;
    background-color: #0D2240;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Contenedor de las hachas con CSS Nesting */
.axe {
    position: absolute;
    width: 100%;
    height: 100%;
    
    /* Hacha izquierda (diagonal de abajo-izquierda a arriba-derecha) */
    .axe-left {
        position: absolute;
        width: 300px;
        height: 30px;
        background-color: #FFC627;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-33deg);
        
        /* Punta del hacha */

        
        /* Mango de la hacha */
        &::after {
            content: "";
            position: absolute;
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 50px;
            background-color: #FFC627;
            clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
        }
    }
    
    /* Hacha derecha (diagonal de abajo-derecha a arriba-izquierda) */
    .axe-right {
        position: absolute;
        width: 300px;
        height: 30px;
        background-color: #FFC627;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(33deg);
        
        /* Punta del hacha */
        
        /* Mango del hacha */
        &::after {
            content: "";
            position: absolute;
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 50px;
            background-color: #FFC627;
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
        }
    }
}